@page
@model IndexModel
@inject Services.PeopleService PeopleService
@{
    ViewData["Title"] = "Home page";
}

<div class="btn-toolbar">
    <a class="btn btn-light" asp-page="AddUser">Add</a>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>

        @{
            var people = await PeopleService.GetPeople();
        }
        @if (people != null && people.Any())
        {
            foreach (var person in people)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No items.</td>
            </tr>
        }
        </tbody>
    </table>
</div>